.Weather {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
}

.Weather h1 {
  opacity: 0.8;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather img {
  display: inline-block;
  height: 64px;
  width: 64px;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  opacity: 0.8;
}

.Weather .units {
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: -34px;
}
